* {
    background-color: #E0E6EA;
    font-family: 'Open Sans';
    font-size: 16px;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../images/bodybg.jpg");
    background-size: cover;
    min-height: 100vh;
}
.page-head {
    font-weight: 800;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
}

#site-navigation {
    width: 100%;
    border-bottom: 5px solid black;
}
#site-navigation ul {
    background-image: url("../images/Leaves.jpg");
    background-size: cover;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

#site-navigation li {

}
#site-navigation a {
    display: inline-block;
    text-align: center;
    color: black;
    font-size: 2rem;
    border: 1px solid black;
    width: 25vw;
    text-decoration: none;
    background-color: #B3CDE3;
}
.section-head {
    background-color: rgb(156, 212, 173);
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    width: 85%;
}
.section-head a {
    font-size: 2rem;
    text-align: center;
}
.intro {
    font-size: 1.2rem;
    margin: 1.2rem 0;
}
.content-block {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    padding: 0 2rem;
    margin-bottom: 2rem;
}
.resource-box {
    background-image: url("../images/infopanel.jpg");
    background-size: cover;
    background-color: red;
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 1px solid black;
    padding: 10px;
}

.resource-box .section-head {
    width: 100%;
    font-size: 1.25rem;
}

.content-grid {
    position: relative;
    justify-content: space-around;
    display: flex;
    width: 85%;
    background-color: transparent;
    margin: 2% auto;
}

.resource-box a {
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
}

.article-summary{
    width: 85%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2% 0;
    border: 1px solid black;
    margin: 2rem auto;
    justify-content: center; /* Corrected from justify-items to center content */
    align-items: center; /* Centers items horizontally within the column */
    text-align: center; /* Fallback for non-flex children */
}
.article-summary p {
    margin: 1.25rem;
    text-align: center;
}

.article-summary a{
    width: auto;
    display: flex;
    justify-content: center;
}
.article-summary img {
    max-width: 100%;
    height: auto;
}
.list-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    padding: 0;
}

.list-container ul {
    margin: 10px;
}

.disclaimer {
    border: 5px dashed black;
    width: 85%;
    padding: 2%;
    margin: 1.25rem auto;
}

.logo {
    width: 100px;
    height: auto;
}

/* About Page Styling for Smaller Screens and Mobile */

@media only screen and (max-width: 480px){
    #site-navigation ul {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        padding: 0;
        width: 100%;
        justify-items: center;
    }
    #site-navigation li {
        padding: 0;
        margin: 0;
    }
    #site-navigation a {
        padding: 0;
        margin: 0;
        width: 50vw;
        font-size: 2rem;
    }

    .content-grid {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .resource-box {
        width: 100%;
        margin: 0;
        padding: 1rem 0;
    }
}

@media only screen and (max-width: 1300px){
    #site-navigation ul {
        display: grid;
        justify-items: center;
        grid-template: 1fr 1fr / 1fr 1fr;
    }
    .content-grid {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .resource-box {
        width: 100%;
        margin: 0;
        padding: 1rem 0;
    }
}

@media only screen and (max-width: 860px){
    #site-navigation ul {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        padding: 0;
        width: 100%;
        justify-items: center;
    }
    #site-navigation li {
        padding: 0;
        margin: 0;
    }
    #site-navigation a {
        padding: 0;
        margin: 0;
        width: 50vw;
        font-size: 2rem;
    }
    .intro {
        margin: 0;
        padding: 0;
        font-size: .95rem;
    }

    .section-head {
        font-size: 1.25rem;
    }
    .content-block{
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 440px) {
    #site-navigation ul {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        padding: 0;
        width: 100%;
        justify-items: center;
    }
    #site-navigation li {
        padding: 0;
        margin: 0;
    }
    #site-navigation a {
        padding: 0;
        margin: 0;
        width: 50vw;
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 340px){
    .page-head {
        font-size: 2rem;
    }
}